:root {
    /* light theme color */
    --light-background: #fff;
    --light-background-secondary: #eaeaea;
    --light-header: #fafafa;
    --light-color: #222;
    --light-color-secondary: #999;
    --light-border-color: #dcdcdc;
  
    /* dark theme colors */
    --dark-background: #181a1b;
    --dark-background-secondary: #444;
    --dark-header: #252627;
    --dark-color: #e8e6e3;
    --dark-color-secondary: #aaa;
    --dark-border-color: #aaa;
  
    /* variables for js, must be the same as these in @custom-media queries */
    --phoneWidth: (max-width: 684px);
    --tabletWidth: (max-width: 900px);
}

body {
  font-weight: normal;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.5rem;
}

.logo__cursor {
  background: #00ff00;
  margin-left: 8px;
}

.post {
  font-size: 0.95rem;

  /* Alignment */
  text-align: left;
  /* text-justify: distribute; */
  /* text-align-last: left; */
  /* word-break: break-all; */
}

.post-title {
  font-size: 1.8rem;
}

